@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-size{
    font-size: 16px;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.transactionsHistory{
 margin: 0;
 padding: 0;
}

.gradient-bg-welcome {
    background-color:#0f0e13;
    background-image:
            /*radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%),*/
            radial-gradient(at 0% 0%, hsl(0, 0%, 6%) 0, transparent 50%),
            radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%),
            /*radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);*/
            radial-gradient(at 100% 0%, hsl(31, 94%, 14%) 0, transparent 50%);
}

.gradient-bg-services {
    background-color:#0f0e13;
    background-image:
            radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%),
            radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-transactions {
    background-color: #0f0e13;
    background-image:
            radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%),
            radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
}

.gradient-bg-footer {
    background-color: #0f0e13;
    background-image:
            radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%),
            radial-gradient(at 50% 150%, hsl(30, 100%, 35%) 0, transparent 50%);
}

.blue-glassmorphism {
    background: rgb(39, 51, 89, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
    background-color: #746e9f;
    background-image:
            radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%),
            radial-gradient(at 67% 20%, hsl(31, 92%, 51%) 0, transparent 59%),
            radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%),
            radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%),
            radial-gradient(at 27% 71%, hsl(31, 92%, 51%) 0, transparent 49%),
            radial-gradient(at 74% 89%, hsl(31, 92%, 51%) 0, transparent 51%),
            radial-gradient(at 53% 75%, hsl(134, 100%, 41%) 0, transparent 45%);
}

.loader-design {
    background-color: #746e9f;
    background-image:
            radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%),
            radial-gradient(at 67% 20%, hsl(31, 92%, 51%) 0, transparent 59%),
            radial-gradient(at 88% 35%, hsl(31, 94%, 14%) 0, transparent 50%),
            radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%),
            radial-gradient(at 27% 71%, hsl(31, 92%, 51%) 0, transparent 49%),
            radial-gradient(at 74% 89%, hsl(31, 92%, 51%) 0, transparent 51%),
            radial-gradient(at 53% 75%, hsl(0, 100%, 41%) 0, transparent 45%);
}

/*.eth-card {*/
/*    background-color:#a099ff;*/
/*    background-image:*/
/*            radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%),*/
/*            radial-gradient(at 67% 20%, hsla(357,94%,71%,1) 0, transparent 59%),*/
/*            radial-gradient(at 88% 35%, hsla(222,81%,65%,1) 0, transparent 50%),*/
/*            radial-gradient(at 31% 91%, hsla(9,61%,61%,1) 0, transparent 52%),*/
/*            radial-gradient(at 27% 71%, hsla(336,91%,65%,1) 0, transparent 49%),*/
/*            radial-gradient(at 74% 89%, hsla(30,98%,65%,1) 0, transparent 51%),*/
/*            radial-gradient(at 53% 75%, hsla(174,94%,68%,1) 0, transparent 45%);*/
/*}*/

.text-gradient {
    background-color: #fff;
    background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



/* --------- */

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.dark-global-crypto-stats {
    background-color: #ffffff;
    backdrop-filter: saturate(180%) blur(10px);
    border: #1c1f26;
    border-radius: 16px;
    padding: 15px;
    /*backdrop-filter: blur(5px);*/
    -webkit-backdrop-filter: blur(5px);
}
.routes {
    padding: 25px;
    min-height: 75vh
}

.main {
    flex: 0.8;
    width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    font-size: calc(10px + 2vmin);
}


:root {
    --text-primary: #000;
    --bgPrimary: #fff;
    --bgSecondary: #F9F9F9;
    --heading-color-dark: #171e26;
    --heading-color-orng: #ff8100;
    --light-blue: #e6f7ff;
    --border: #d9d9d9;
    --background-color: #0f0e13;
    --background-image: radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.gradient-bg-welcome {
    background-color: #0f0e13;
    background-image: radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsl(31, 94%, 14%) 0, transparent 50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    color: #777777 !important;
}

.app {
    /*display: flex;*/
    overflow: hidden;
}

.navbar {
    /*flex: 0.2;*/
    flex: 0.5;
    position: fixed;
    width: 100vw;
    top: 0px;
    z-index: 11;
    background-color: rgb(178, 89, 0);
}

.main {
    flex: 0.8;
    width: 100%;

    background-color: #0f0e13;
    background-image: radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsl(31, 94%, 14%) 0, transparent 50%);
    /*flex: 0.75;*/
    /*width: 100vw;*/
    /*margin-top: 10vh;*/
}

.routes {
    padding: 25px;
    min-height: 75vh
}

.nav-container {
    width: 100%;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* left: 0; */
    margin: 0px;
    background-color: rgb(0, 21, 41);

    /*background-color: var(--bgNav) !important;*/
    /* height: 100vh; */
}

.logo-container {
    background-color: #001529;
    display: flex;
    /*background-color: var(--bgNav);*/
    padding: 15px;
    /* align-items: center; */
    /* width: 100%; */
}

.logo {
    margin: 0 0 0 15px !important;
}

.logo a {
    color: white;
}

.menu-control-container {
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.loader {
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1300px) {
    /* .main {
      margin-left: 50px;
    } */
}

@media screen and (max-width: 1170px) {
    /* .main {
      margin-left: 50px;
    } */
}

@media screen and (max-width: 1000px) {
    /* .main {
      margin-left: 100px;
    } */
}


@media screen and (max-width: 800px) {
    .app {
        flex-direction: column;
        overflow: hidden;
    }

    .navbar {
        flex: 1;
    }

    .main {
        flex: 1;
        margin-top: 0;
        margin-left: 0px;
        margin-right: 10px;
    }

    .nav-container {
        height: 11vh;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        /* position: fixed; */
        z-index: 100;
        /*background-color: var(--bgSecondary);*/
    }

    .menu-control-container {
        display: block !important;
    }

    .ant-menu {
        position: absolute;
    }

    .home-title {
        font-size: 1.4rem !important;
    }

    .show-more {
        font-size: 1.3rem !important;
    }
}

.coin-detail-container {
    margin: 30px;
}

.coin-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.coin-heading-container .coin-name {
    font-weight: 900;
    color: var(--heading-color-dark);
}

.coin-heading-container p {
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.stats-container h2 {
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 20px;
    color: var(--heading-color-dark);
}

.coin-details-heading {
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: var(--heading-color-dark) !important;
}

.coin-stats {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;

}

.coin-stats-name {
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

.stats {
    font-weight: 800;
}

.coin-value-statistics-heading p {
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;
}

.coin-desc-link h2 {
    font-weight: 700;
    color: var(--heading-color-dark);
}

.coin-desc-link p {
    font-size: 1rem;
    opacity: 0.9;
}

.coin-desc-link a {
    color: var(--heading-color-dark);
}

.coin-desc-link h3 {
    font-weight: 700;
}

.coin-desc {
    flex: 0.5;
}

.coin-links {
    padding: 0px 20px;
    flex: 0.5;
}

.coin-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

.link-name {
    text-transform: capitalize;
    font-size: 1rem;
}

.coin-link a {
    color: var(--heading-color-dark);
    font-weight: 700;
    font-size: 1rem;
}

.coin-link:hover, .coin-stats:hover {
    background-color: var(--bgSecondary);
}

@media screen and (max-width: 1000px) {
    .stats-container {
        flex-direction: column;
    }

    .coin-desc-link {
        flex-direction: column;
    }

    .stats-container h2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px) {
    .coin-links {
        padding: 0px;
    }

    .coin-detail-container {
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .heading {
        margin-top: 20px;
    }
}

.select-news {
    width: 180px;
}

.news-card {
    min-height: 300px !important;
}

.news-image-container {
    display: flex !important;
    justify-content: space-between !important;
}

.news-title {
    width: 70%;
}

.news-image-container .img {
    width: 100px;
    height: 100px;
}

.news-card p {
    color: black;
    margin: 10px 0px !important;
}

.provider-container {
    display: flex;
    justify-content: space-between;
}

.provider-name {
    margin-left: 10px;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #0071bd;
}

.chart-title {
    color: #0071bd !important;
}

.price-container {
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

.price-change {
    font-weight: 900 !important;
}

.current-price {
    margin-top: 0px !important;
    font-weight: 900 !important;
}

.home-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.show-more {
    margin-top: 0px !important;
}

.exchange-image {
    margin: 0px 10px !important;
}

.search-crypto {
    margin: 20px auto 30px auto;
    width: 250px;
}

.crypto-card-container {
    min-height: 65vh !important;
}

.crypto-card {
    min-width: 250px;
}

.crypto-card .crypto-image {
    width: 35px;
}

.select-timeperiod {
    width: 200px !important;
    margin-top: 20px !important;
}
